html {
    background: #346;
    height: 100%;
}
body {
    background: white;
    margin: 0 auto;
    width: 480px;
    height: 100%;
}
#error {
    font-size: 12px;
    color: red;
}
#user {
    display: none;
    text-align: right;
}
#user img {
    width:  32px;
    height: 32px;
    vertical-align: middle;
    border-radius: 50%;
}
#user span {
    font-size: 16px;
}
#member > span {
    display: inline-block;
    margin: 0 8px;
}
#member img {
    width:  32px;
    height: 32px;
    vertical-align: middle;
    border-radius: 50%;
}
#member {
    font-size: 14px;
}
#chat {
    display: none;
}
#chat form {
    text-align: center;
}
#chat input[name="msg"] {
    width: 85%;
}
#chat > div {
    margin-top: 1em;
}
#chat > div > div {
    clear: both;
    paiing: 5px;
    padding: 5px;
}
#chat img {
    width:  32px;
    height: 32px;
    border-radius: 50%;
}
#chat .say {
    font-size: 14px;
    padding: 5px;
    border: solid #999 1px;
    border-radius: 10px;
    display: table;
    max-width: 70%;
}
#chat img {
    float: left;
}
#chat div.self > * {
    float: right;
}
#chat div.self > div {
    background: #9f9;
}
